<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark " style="opacity: 75%;">
    <div class="container-fluid">
      <a class="navbar-brand" style="padding-left: 1rem;" href="#">
        <img src="../assets/img/MCML-logo-sin-fondo-02.png" alt="" width="100" class="d-inline-block align-text-top">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>